/* class for the about me section of the document */

.about-me-content {
    width: 50%;
    background-color: #a3e8dc;
    border-radius: 1rem;
    border-color: #a3e8dc;
    padding: .75rem;
    text-align: center;
}

/* wrapper to cover the entire document */
.background {
    background-color: #088185;
    display: flex;
    flex-direction: column;
}

/* makes all of the content elements the same style and uniform */
.content {
    border: solid;
    background-color: #69e1e5;
    text-align: center;
    margin: 2rem;
    border-radius: 1rem;
    width: 90%;
}

.content-title {
    height: 2.5rem;
    text-align: center;
    border: solid;
}

/* class to cover the footer of the document */
#footer {
    text-align: center;
    background-color: gray;
    height: 3rem;
}


header {
    text-align: center;
}

/* classes involving h2 and the hover effect for each one */
h2 {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}

h2:hover {
    background-color: #a3e8dc;
    transition-duration: 0.24s;
}

/* id's to size and align the images correctly */
#portfolio-image {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
}

#profile-image {
    width: 10.5rem;
    height: 10rem;
    padding: 1rem;
}
